/*命名規則：BEM*/
@charset "UTF-8";

@mixin sp {
  @media screen and (max-width: 770px){
    @content;
  }
}

body{
  margin: 0;
  padding: 0;
}
h1{
  margin: 0;
}

.top{
  margin: 4% 4% 0 4%;
  line-height: 0;
  @include sp(){
    margin: 0;
  }
  &__image{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    @include sp(){
      object-fit: cover;
      height: 485px;
    }
  }
}

.menu{
  display: flex;
  margin: 0 4% 30px 4%;
  padding: 20px 0;
  @include sp(){
    padding: 0;
  }
  &__title{
    font-size: 14px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
  }
  &__list{
    display: flex;
    &--cat{
      list-style: none;
      margin-right: 30px;
      & a{
        text-decoration: none;
        color: black;
        font-size: 12px;
      }
    }
  }
}

#concept{
  display: flex;
  @include sp(){
    flex-flow: column;
  }
}
#work{
  display: flex;
  @include sp(){
    flex-flow: column-reverse;
  }
}
.article{
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 20px;
  margin-bottom: 50px;
  align-items: center;
  @include sp(){
    width: 100%;
    box-sizing: border-box;
    font-size:0;
  }
  &__image{
    width: 50%;
    @include sp(){
      width: 100%;
      padding: 0;
      margin: 0;
    }
    & img{
      width: 100%;
    }
  }
  &__text{
    width: 50%;
    padding: 80px;
    box-sizing: border-box;
    @include sp(){
      width: 100%;
      padding: 0;
    }
    &--subtitle{
      font-size: 22px;
      font-weight: 100;
      @include sp{
        margin: 7px 0 0 0;
      }
    }
    &--english{
      font-size: 13px;
      font-weight: 100;
      @include sp(){
        margin: 4px 0 0;
      }
    }
    &--contents{
      font-size: 13px;
      letter-spacing: 2.5px;
      @include sp(){
        margin: 30px 0 25px 0;
      }
    }
  }
}

.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  &__title{
    font-size: 14px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
  }
  &__license{
    font-size: 12px;
  }
}