@charset "UTF-8";
/*命名規則：SMACCS*/
/*base*/
body, ul, li, a, h1, h2, h3, h4, p, dt, dd {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: #000000;
  text-align: center;
}

nav {
  margin: auto 0;
  padding: 0 30px;
  width: 320px;
}

@media screen and (max-width: 900px) {
  nav {
    padding: 0 16px;
    margin: 0;
  }
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li {
  list-style: none;
  font-size: 14px;
}

h4 {
  font-size: 14px;
  font-weight: 300;
}

img {
  width: 100%;
  vertical-align: bottom;
}

dl, dd {
  font-size: 14px;
  line-height: 30px;
}

dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 900px) {
  dl {
    display: block;
  }
}

dt {
  width: 20%;
}

dd {
  width: 80%;
}

@media screen and (max-width: 900px) {
  dd {
    margin: 0px 18px;
  }
}

/*layout*/
.l-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

@media screen and (max-width: 900px) {
  .l-top {
    height: 80px;
  }
}

.l-top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 1055px;
}

@media screen and (max-width: 900px) {
  .l-top-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
  }
}

.l-mainvisial {
  height: calc(100vh - 80px);
}

.l-mainvisial img {
  -o-object-fit: cover;
     object-fit: cover;
}

.l-news {
  padding: 90px 20px;
  max-width: 1040px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .l-news {
    width: 100%;
  }
}

.l-article {
  max-width: 900px;
}

@media screen and (max-width: 900px) {
  .l-article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.l-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}

@media screen and (max-width: 900px) {
  .l-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding-bottom: 60px;
  }
}

.l-business {
  padding-left: 20px;
  max-width: 1040px;
  margin: 0 auto;
}

.business-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 80px;
}

@media screen and (max-width: 900px) {
  .business-article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 0;
  }
}

.l-company {
  width: 560px;
  padding: 80px 60px;
  margin: 160px 0 160px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .l-company {
    width: 100%;
    margin: 20px 0;
    padding: 30px 20px;
  }
}

.company-article {
  position: relative;
  width: 1060px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .company-article {
    padding: 0 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.l-footer {
  padding: 40px 50px 20px 40px;
}

@media screen and (max-width: 900px) {
  .l-footer {
    padding: 34px 16px;
  }
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .footer-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .footer-flex .logo {
    padding-left: 0px;
  }
}

.footer-flex p {
  font-size: 14px;
}

/*module*/
.logo {
  font-size: 34px;
  letter-spacing: 12px;
  font-weight: 500;
  padding: 18px 16px;
  display: inline-block;
}

@media screen and (max-width: 900px) {
  .logo {
    padding: 10px 16px 0px 16px;
    font-size: 28px;
    letter-spacing: 8px;
  }
}

.contact {
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  width: 185px;
  line-height: 80px;
}

@media screen and (max-width: 900px) {
  .contact {
    display: none;
  }
}

.header {
  font-size: 34px;
  font-size: 34px;
  letter-spacing: 12px;
  font-weight: 500;
}

.lead {
  font-size: 14px;
  font-weight: 300;
}

.lead::after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background-color: #000000;
  margin: 38px 0 60px 0;
}

@media screen and (max-width: 900px) {
  .lead::after {
    margin: 20px 0 30px;
  }
}

.tag {
  background-color: #000000;
  color: #ffffff;
  padding: 0 5px;
  margin-left: 15px;
}

.news-text {
  padding: 20px 0 0 0;
}

.post {
  padding: 12px 0;
}

.post + li {
  border-left: 1px solid #000000;
  padding-left: 20px;
}

@media screen and (max-width: 900px) {
  .post + li {
    border-left: 0px;
    padding-left: 0;
  }
}

.about-visial {
  width: 55%;
}

@media screen and (max-width: 900px) {
  .about-visial {
    width: 100%;
  }
}

.about-visial img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
}

.about-textbox {
  width: 45%;
  padding: 180px 60px 0 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .about-textbox {
    width: 100%;
    padding: 20px;
  }
}

.about-textbox p {
  font-size: 14px;
  line-height: 30px;
}

@media screen and (max-width: 900px) {
  .business-visial {
    padding: 0 30px;
  }
}

.business-item {
  width: calc(50% - 40px);
  margin: 0 40px 40px 0;
  position: relative;
}

.business-item:nth-child(2n-1) {
  top: 90px;
}

@media screen and (max-width: 900px) {
  .business-item:nth-child(2n-1) {
    top: 0px;
  }
}

@media screen and (max-width: 900px) {
  .business-item {
    width: 100%;
  }
}

.business-item p {
  margin: 0 0 10px 25px;
}

.business-item p::before {
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background-color: #000000;
  position: relative;
  top: 12px;
  right: 20px;
}

.company-visial {
  width: 53%;
  position: absolute;
  top: 115px;
  right: 0;
}

@media screen and (max-width: 900px) {
  .company-visial {
    position: static;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    width: 100%;
  }
}

.company-visial img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
}

.license {
  font-size: 10px;
  padding-left: 14px;
  margin-top: 20px;
}

@media screen and (max-width: 900px) {
  .license {
    padding-left: 0px;
    margin-top: 40px;
  }
}

/*state*/
/*thema*/
.t-company {
  background-color: #ffffff;
}

.t-footer {
  background-color: #ffffff;
}
/*# sourceMappingURL=common.css.map */