@charset "UTF-8";

@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}

.wrap{
  width: 850px;
  margin: 0 auto;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo{
  background-color: rgb(5, 9, 53);
  width: 130px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  color: white;

  &__text{
    font-size: 24px;
    color: white;
    text-decoration: none;
  }
}

.content{
  gap: 30px;

  &__headline{
    list-style: none;
    display: inline-block;
    &:first-child{
      margin-right: 30px;
    }

    &--text{
      font-size: 14px;
      color: black;
      text-decoration: none;
    }
  }
}

.b-img{
  object-fit: cover;
  height: 610px;
  width: 100%;
}

.subtitle{
  text-align: center;
  margin-top: 30px;
  width: 100%;

  &__text{
    display: inline-block;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
  }
}

.a-section{
  width: 600px;
  margin: 60px auto;
  @include clearfix();

  &__img{
    float: left;
    border-radius: 50%;
    width: 110px;
    margin-right: 30px;
  }

  &__textarea{
    text-align: left;

    &--subtitle{
      margin-top: 0;
      font-size: 15px;
    }

    &--text{
      width: 450px;
      display: inline-block;
      margin:0;
    }
  }
}

.b-big-block{
  margin: 30px 0 80px 0;
  @include clearfix();
}

.b-block{
  width: calc(100%/3);
  float: left;
  text-align: center;

  &__img{
    height: 190px;
    width: 95%;
  }
}

.f-box{
  text-align: center;

  &__text{
    font-size: 8px;
  }
}