@charset "UTF-8";
/*命名規則：SMACCS*/
/*base*/
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 20px;
}

p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

a {
  font-size: 12px;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

section {
  margin: 0 auto;
}

li {
  list-style: none;
  text-align: left;
  font-size: 14px;
}

li::before {
  content: "-";
  margin-right: 10px;
}

footer {
  text-align: center;
}

footer .flexbox {
  padding: 80px 60px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 896px) {
  footer .flexbox {
    padding: 60px 40px;
  }
}

/*layout*/
.l-top {
  height: 100vh;
  position: relative;
  margin-bottom: 80px;
}

.l-logo {
  top: 30px;
  right: 30px;
  position: absolute;
}

.l-article {
  max-width: 1220px;
  padding: 0 20px;
  margin-bottom: 70px;
}

.l-article .flexbox {
  margin-top: 60px;
}

.l-textbox {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.l-fashion {
  text-align: center;
  padding-top: 60px;
  margin: 0 0 80px 0;
  height: 500px;
}

.l-fashion p {
  margin-bottom: 40px;
}

.l-cat {
  max-width: 1220px;
  padding: 60px 20px;
}

.l-cat h2, .l-cat p {
  margin-bottom: 40px;
}

.cat-wid {
  width: 500px;
  text-align: center;
}

@media screen and (max-width: 896px) {
  .cat-wid {
    width: 88vw;
  }
}

.cat-wid p {
  text-align: center;
}

.l-tri {
  width: calc(100%/3);
}

@media screen and (max-width: 896px) {
  .l-tri {
    width: 100%;
  }
}

.l-tri p {
  text-align: left;
  line-height: 25px;
}

.l-tri h3 {
  text-align: left;
}

.l-tri:first-child {
  margin: auto 0;
}

@media screen and (max-width: 896px) {
  .sp-gap .l-cat:nth-child(2) {
    gap: 60px;
  }
}

@media screen and (max-width: 896px) {
  .l-f-logo {
    margin: 0 auto;
  }
}

/*module*/
.logo {
  color: #ffffff;
  background-color: #000000;
  font-size: 28px;
  padding: 0px 10px;
  width: 100px;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media screen and (max-width: 896px) {
  .flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.flexbox img {
  width: 100%;
}

.flexbox a {
  position: relative;
  width: 600px;
}

@media screen and (max-width: 896px) {
  .flexbox a {
    width: 88vw;
  }
}

.textbox {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  text-align: center;
  color: #ffffff;
  padding: 15px 0;
}

.btn {
  padding: 15px 30px;
  border: solid #000000 1px;
  color: #000000;
}

.license {
  margin: 25px 0;
  font-size: 11px;
}

/*state*/
/*thema*/
.top {
  background-image: url(../image/mainvisual.png);
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
}

.fashion {
  background-image: url(../image/fashion&style.png);
  background-size: cover;
  background-position: center;
}

.gray {
  background-color: #e9e9e9;
}

.d-gray {
  background-color: gray;
}
/*# sourceMappingURL=common.css.map */